Welcome: {{ currentPlayer.name }}

{{#if currentPlayer.isChallenged}}
<div class="panel">
  <h5>You ve been challenged by {{ currentPlayer.opponent.name }}!</h5>
  <ul class="button-group">
    <li>
    <a href="javascript://" class="small button" {{ action acceptChallenge }}> Accept </a>
    </li>
    <li>
    <a href="javascript://" class="small button button-secondary" {{ action declineChallenge }}>
      Decline
    </a>
    </li>
  </ul>
</div>
{{/if}}

<ul class="players-list">
  {{#each player in otherPlayers}}
  <li {{ bindAttr class="player.isInGame:inGame" }}
  {{ bindAttr title="player.isInGame" }}
  >
  {{#if player.isIdle}}
  <i class="icon-comment-alt state idle" title="Idle" ></i>
  {{/if}}

  {{#if player.isInGame}}
    <i class="icon-gamepad state inGame" title="In game"></i>
  {{/if}}

  {{#if player.isChallenged}}
    <i class="icon-spin icon-spinner state"></i>
  {{/if}}

  {{#if player.isWaiting}}
    <i class="icon-exclamation"></i>
  {{/if}}

  {{ player.name }}

  {{#if player.canBeChallenged}}
  <a href="javascript://" class="tiny button" {{ action challenges player }}>Play against</a>
  {{/if}}

  {{#if player.isChallenged}}
  <a href="javascript://" class="tiny button" {{ action cancelChallenge }}>Cancel</a>
  {{/if}}

  {{#if player.isWaiting}}
    <span>Challenged you</span>
  {{/if}}

  </li>
  {{else}}
  no other player connected :/
  {{/each}}
</ul>
