
<div class="row">
  {{#if currentPlayer.isInGame }}
  <div class="small-6 columns">
    <h4>
      You re playing as {{ view App.IconSymbolView symbolBinding=currentPlayer.symbol }}
    </h4>
    {{#if currentPlayer.isActive}}
    <h5>Your turn to play !</h5>
    {{else}}
    <h5 class="subheader">
      <i class="icon-spin icon-spinner"></i> wait for opponent move...
    </h5>
    {{/if}}
    <div {{ bindAttr class="currentPlayer.isActive::inactive" }}>
    {{ render "game" }}
    </div>
  </div>
  <div class="small-6 columns">
    {{ render "gameChatroom" }}
    {{ render "surrender" }}
  </div>
  {{else}}
  <div class="small-6 columns">
    {{ template "lobby" }}
  </div>
  <div class="small-6 columns">
    {{ render "chatroom" }}
  </div>
  {{/if}}

</div>


