<div class="col-1-1">
  <p>
  If you don t know how to play the ultimate tic tac toe,
  <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/">here are the rules</a> (with some nice drawings ^^)
  </p>
</div>

{{#if currentPlayer.isInGame }}
  <div class="col-1-2">
    You re playing as {{ view App.IconSymbolView symbolBinding=currentPlayer.symbol }}
    <br />
    {{#if currentPlayer.isActive}}
      Your turn to play
    {{else}}
      <i class="icon-spin icon-spinner"></i> wait for opponent move...
    {{/if}}
    {{ render "game" }}
  </div>
  <div class="col-1-2">
    {{ render "surrender" }}
    {{ render "gameChatroom" }}
  </div>
{{else}}
  <div class="col-1-2">
    {{ template "lobby" }}
  </div>
  <div class="col-1-2">
    {{ render "chatroom" }}
  </div>
{{/if}}


